# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales
.venv/
venv/
ENV/
env/

# IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Logs y bases de datos locales temporales
*.log

# Exportaciones y paquetes temporales
importar/
*.zip
version 29 ante de retroalimentar/
